body{
    border: 1px solid red;
    font-size: 16px;
    margin: opx auto;
    max-width: 1024px;
}

header nav ol {
    text-align: center;
}
header nav ol li{
    background-color: blue;
    border: 1px solid blue;
    color: white;
    display: inline-block;
    margin-right: 25px;
    /* padding: 12px; distacia entre el texto y el borde de caja  */
    padding: 10px 26px;
}

header nav ol li:hover{
    background-color: white;
    color: blue;
}
